#root {
  margin: 0 auto;
  text-align: center;
}

.night {
background-image: url('./../../assets/');
}

.morning {
  background-image: url('./../../assets/');

}

.afternoon {
  background-image: url('./../../assets/');

}