.main {
  margin: 0 auto;
  padding: 40px 12px;
  box-sizing: border-box;
  min-width: 320px;
  max-width: 375px;
  min-height: 800px;
  border-radius: 36px;
}

.main__container-city {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.main__city {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.main__time {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.main__image {
  width: 160px;
  height: 160px;
  padding-top: 50px;
  margin: 0 auto;
}

.main__weather {
  margin: 32px 0 30px;
  font-weight: 400;
  font-size: 24px;
  line-height: 16px;
}

.main__degress {
  margin: 0 0 44px;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}
